<!-- Header -->
<div id="header">
	<div class="top">
		<!-- Logo -->
		<div class="sticky-top">
			<div class="mainDiv">
				<div class="inputClass">
					<label for="presentMeso">메소시세</label>
					<input type="text" class="txt-input" name="presentMeso" id="presentMeso" 
					oninput="onlyNumberWithComma(this);" placeholder="메소 라운지 거래가"/>
				</div>
				<div class="inputClass"> 
					<label for="presentMepo">메소마켓</label>
					<input type="text" class="txt-input" name="presentMepo" id="presentMepo" 
					oninput="onlyNumberWithComma(this);" placeholder="메소마켓 거래가" />
				</div>

				
				<div class="inputClass tooltip-container">
					<label for="percentMVP" class="tooltip-label">선물식비율</label>
					<input type="text" class="txt-input" name="percentMVP" id="percentMVP" 
					oninput="onlyNumberWithComma(this);" placeholder="MVP 작 비율"/>
					<span class="tooltip-text">
						라운지 전서버공용채널<br>
						MVP작-메포 카테고리에서<br>
						실제로 거래되는 메포비율<br>
						ex.8000:1, 8500:1
					</span>
				</div>
				<div class="inputClass tooltip-container"> 
					<label for="discountRate" class="tooltip-label">충전할인율(%)</label>
					<input type="text" class="txt-input" name="discountRate" id="discountRate" 
					oninput="onlyNumberWithComma(this);" placeholder="캐시충전 할인율"/>
					<span class="tooltip-text">
						넥슨캐시 충전 시<br>
						할인율을 입력해주세요.<br>
						ex.현대카드포인트 10%할인구매<br>
						→ 10 입력 
					</span>
				</div>
				<div class="inputClass"> 
					<label for="auctionCharge">경매장수수료</label>
					<input type="hidden" name="dummyInput"/>
				</div>
				<div class="inputClass"> 
					<label for="auctionCharge"></label>
					<input type="hidden" name="dummyInput2"/>
				</div>
			</div>
			<div class="radioSelect"> 
				<input type="radio" id="3per" name="auctionCharge" value="3"><label for="3per">3%</label>
				<input type="radio" id="5per" name="auctionCharge" value="5"><label for="5per">5%</label>
			</div>
			<div class="btnClass">
				<button  onclick="javascript:clearData();">조회조건초기화</button>
			</div>
		</div>

		<!-- Nav -->
		<nav id="topNav">
			<div class="container">
				<a href="#" class="menu-toggle">&#9776;</a> <!-- 햄버거 버튼 -->

				<ul class="menu">
					<li><a href="/intro"><span class="icon solid fa-home"></span>소개</span></a></li>
					<li><a href="/mesoMarket"><span class="icon solid fa-utensil-spoon">메소와 메포 구매</span></a></li>
					<li><a href="/mvpCost"><span class="icon solid fa-money-check-alt">MVP작 비용 계산기</span></a></li>
					<li><a href="/bunbae"><span class="icon solid fa-bezier-curve">보상분배계산기</span></a></li>
					<li><a href="/mesoToWon"><span class="icon solid fa-money-bill">아이템의 현금가치</span></a></li>
					<li><a href="/valueOf"><span class="icon solid fa-th">과거와 현재 아이템 가치</span></a></li>
					<li><a href="/saleProfit"><span class="icon solid fa-coins">메소판매차익</span></a></li>
					<li><a href="/juhwa"><span class="icon solid fa-question-circle">골드주화가치</span></a></li>
					<li><a href="/juHeunVal"><span class="icon solid fa-square">주흔&아즈모스코인가치</span></a></li>
					<li><a href="/pcRoom"><span class="icon solid fa-users-cog">피방조각효율</span></a></li>
				</ul>
			</div>
		</nav>
			<!-- <nav id="nav">
				<ul>
					<li><a href="/intro" id="intro-link"><span class="icon solid fa-home">메이플계산기 소개</span></a></li>
					<li><a href="/mesoMarket" id="mesoMarket-link"><span class="icon solid fa-utensil-spoon">메소와 메포 구매</span></a></li>
					<li><a href="/mvpCost" id="mesoMarket-link"><span class="icon solid fa-money-check-alt">MVP작 비용 계산기</span></a></li>
					<li><a href="/bunbae" id="bunbae-link"><span class="icon solid fa-bezier-curve">보상분배계산기</span></a></li>
					<li><a href="/mesoToWon" id="mesoToWon-link"><span class="icon solid fa-money-bill">아이템의 현금가치</span></a></li>
					<li><a href="/valueOf" id="valueOf-link"><span class="icon solid fa-th">과거와 현재 아이템 가치</span></a></li>
					<li><a href="/saleProfit" id="saleProfit-link"><span class="icon solid fa-coins">메소판매차익</span></a></li>
					<li><a href="/juhwa" id="juhwa-link"><span class="icon solid fa-question-circle">골드주화가치</span></a></li>
					<li><a href="/juHeunVal" id="juHeunVa-link"><span class="icon solid fa-square">주흔&아즈모스코인가치</span></a></li>
					<li><a href="/pcRoom" id="pcRoom-link"><span class="icon solid fa-users-cog">피방조각효율</span></a></li>
				</ul>
			</nav> -->

	</div>
</div>

<!-- Main -->
<div id="main">
	<!-- <div id="top-logo">
		<span class="image avatar48"><img src="/images/mapleIcon.png" alt="" /></span>
		<h1 id="title">메산기</h1>
	</div> -->

			
