td input{
    width:60%;
    border-radius:5px;
}
input{
    font-family: 'Noto Sans KR','Noto Sans Korean', "Nanum Gothic", sans-serif !important;
    appearance: none;
    border-radius: 0;
    border: 0;
    outline: none;
    font-size: 15px;
    height:20px;
    text-align: right;
}
input::placeholder{
    color: #d9d9d9
}

.inputDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* .inputDiv input{
    margin : auto;
} */

.inputClass{
    width: calc(50% - 5px);
    box-sizing: border-box;
    margin: 20px auto;
    position: relative;
}
.inputClass label{
    display: inline-block;
    position: absolute;
    top: -30px;
    left: 14px;
    padding-top: 10px;
    background: none;
    font-size: 15px;
    color: #888;
    font-weight: bold;
    margin-left: -10px;
}

.inputClass input{
    width: 100%;
    border: 1px solid #dddddd !important;
    font-size: 1rem;
    line-height: 1.45;
    letter-spacing: -0.04rem;
    border-radius: 8px;
    padding: 16px;
    margin-top: 12px;
}

.pointSpan{
    color:blue;
    font-weight: bold;
}

.mainDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btnClass{
    text-align: center;
    margin-bottom: 1rem;
}

.radioSelect {
    display: flex;
    text-align: left;
    margin-bottom: 1rem;
}
.radioSelect input[type=radio]{
    display: none;
}
.radioSelect input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    height: 30px;
    width: calc(50% - 5px);
    border: 1px solid #333;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    font-weight:bold;
    font-size:13px;
}
.radioSelect input[type=radio]+label{
    background-color: #333;
    color: #fff;
}
.radioSelect input[type=radio]:checked+label{
    background-color: #fff;
    color: #333;
}

.flip-scroll{
    display: flex;
    justify-content: center;
}

/* table, th, td{
    border : 1px solid black;
    border-collapse : collapse;
}  */


/* https://seraphinaciel.github.io/%ED%91%9C/ */
@media screen and (max-width: 736px) {
    .mTable caption {
        font-size: 1.3em;
    }

    .mTable {
        width: 1400px;
        table-layout: auto;
        display: inline-grid;
        border: none;
    }

    .mTable thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .mTable th {
        display: block;
        align-items: center;
        text-align: center;
    }

    .mTable tr {
        border-top: 3px solid gray;
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    .mTable td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    .mTable td::before {
        content: attr(data-label); /*data-label을 가상요소 표출*/
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    .mTable td:last-child {
        border-bottom: 0;
    }
}